*{
margin: 0%;
padding: 0%;
}
.nav{
background-color: #111827;
height: 72px;
font-family: "Capriola", "Capriola Placeholder", sans-serif;
}
.text{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 36px;
}
.text1{
    color: #111827;
    text-align:center;
}
.centeralign{
    align-items: center;
    text-align: center;
}
.yellowcontainer{
    background-color: yellow;
    
    border-radius:4px;
}
.headline{
    font-family: "Graduate", "Graduate Placeholder", serif;
    
}